<div id="generate-panel" class="panel">
    <div id="setting-panel" class="settingsfull">
        <ui-section expand="" header="基础设置" class="config section">
            <div class="row">
                <ui-prop class="mb-10">
                    <ui-checkbox id="checkSkinMJ">麻将</ui-checkbox>
                    <ui-checkbox id="checkSkinJD">金豆</ui-checkbox>
                    <ui-checkbox id="checkSkinJF">积分</ui-checkbox>
                </ui-prop>
            </div>
        </ui-section>
    </div>
</div>